# Ignorar o conteúdo da pasta gradle/cache
gradle/cache/*

# Ignorar o conteúdo da pasta ssh
ssh/ssh
ssh/ssh.pub
ssh/known_hosts

# Ignorar o conteúdo da pasta postgres
postgres/data/*

# Ignorar todos os arquivos com extensão .class
*.class

# Ignorar todos os arquivos de build gerados pelo Gradle
/build/

# Ignorar arquivos de configuração local
.gradle/
.idea/
*.iml

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários
*.tmp
*.temp

.env